*.ipynb
*.pyc
.*.swp
.ipynb_checkpoints
*.py~
*.un~
.gitignore~
*.h5
*.mat
*.png
ipynb/auto_figures/
ipynb/*.pdf
proc_pulse_RMS.pz~
proc_se.pw~
proc_se.px~
proc_se.pz~
proc_square_refl.pz~
ipynb/find_50percent_crossings.ipynb
Bridge12_Class_181126.ipynb
